.container {
    padding-top: 30px;   

    ul > {
        li {
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            height: 70vh;
            
            li {
                display: block;
                height: initial;
                margin-top: 1rem;
            }

            .select {
                // z-index: 1!important;
                // left:9px;
                // top: -3px;
                // background-color: #fff;
                // padding: 0 6px;

                // &[data-shrink=true] {
                //     top: -7px;
                // }
            }
        }
    }
    
    button {
        margin-right: 10px!important;
    }
}