.container {
    padding-top: 30px;   

    ul > {
        li {
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            height: 70vh;
    
            * {
                margin: 10px 0;
            }
            
            li {
                display: block;
                height: initial;
            }
        }
    }
    
    button {
        margin-right: 10px!important;
    }
}