.container {
    // padding-top: 30px;   

    ul > {
        li {
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            height: 70vh;
            
            li {
                display: block;
                height: initial;
                margin-top: 1rem;
            }
        }
    }
    
    button {
        margin-right: 10px!important;
    }
}