.container {
    // padding-top: 30px;   
    display: flex;
    height: 100vh;
    width: 100%;

    .content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;

        h2 {
            margin: 1.5rem 0 0;

            @media screen and (min-width:769px) {
                margin: 5rem 0 0;
            }
        }

        .subtitle {
            text-align: center;
            margin: .5rem 0;
        }
        
        form {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            &.signInForm {
                padding-top: 2rem;
            }
            
            ul {
                flex-grow: 1;
                display: flex;
                padding-top: 0.5rem;

                li {
                    flex-grow: 1;
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;

                    @media screen and (min-width:769px) {
                        justify-content: center;
                    }

                    ul.confirmation {
                        display: block;

                        li {
                            display: block;
                            margin-top: 1rem;
                        }
                    }
                }
            }

            .buttons {
                text-align: center;
                height: 2.5rem;
                margin-bottom: 2rem;

                @media screen and (min-width:769px) {
                    margin-bottom: 6rem;
                }

                .more {
                    p {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }

    
}