.ocean-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    
    .ocean {
        background: #015871;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleY(.8);
        
        @media screen and (min-width: 1025px) {
            transform: scaleY(1.5);
        }
    }

    .wave {
        background: url(../../img/wave.svg) repeat-x;
        position: absolute;
        top: -160px;
        width: 8000px;
        height: 200px;
        animation: wave 6s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 5s ease infinite;
        transform: translate3d(0, 0, 0);
    }

    .wave:nth-of-type(2) {
        top: -160px;
        animation: wave 6s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.425s infinite, swell 7s ease -1.25s infinite;
        opacity: 1;
    }

    @keyframes wave {
        0% {
            margin-left: 0;
        }
    
        100% {
            margin-left: -2000px;
        }
    }
    
    @keyframes swell {
    
        0%,
        100% {
            transform: translate3d(0, -40px, 0);
        }
    
        50% {
            transform: translate3d(0, 5px, 0);
        }
    }
}