@import 'styles/_colors';

.appBarContainer {
    display: block;
    position: fixed;
    right: 0;
    z-index: 2;
    width: 100%;

    .appBar {
        background-color: $secondary;
        
        box-shadow: 0 1px 1px rgba(0,0,0,.2);

        h1 {
            position: absolute;
            left: 1.7rem;
            // color: $secondary;
            color: #fff;
            height: 100%;
            font-size: 1.1rem;
            line-height: .9rem;
            margin: 0;
            display: inline-flex;
            align-items: center;
            font-weight: 500;
            
            @media screen and (min-width: 960px) {
                font-size: 1.2rem;
            }
        }

        .toolBar {
            padding-left: 1.25rem;
        }
    }
    
    .profileMenu {
        position: absolute;
        right: 0;
        color: #eee;

        .profileIcon {
            // font-size: 1.7rem;
            // color: $secondary;
        }
    }


        
}

.desktopOnly {
    justify-content: center;
    align-items: center;
    display: none!important;
    height: 100%;
    // z-index: 1;

    @media screen and (min-width: 960px) {
        display: flex!important;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;

        li {
            float: left;
            line-height: 26px;
            margin: 0;
            padding: 0;
            margin-left: 61px;
            
            a {
                color: #dedede;
                font-weight: 500;
                font-size: 1.05rem;
                
                &:hover, 
                &.active {
                    color: #eeeeee;
                    border-bottom: 3px solid #eeeeee;
                }
            }


            &.dashboard {
                float: right;
            }
        }
    }

    .notificationsArea {
        position: absolute;
        right: 2.5rem;
        
        .notificationsMenu {
            color: #eee;
        }
    }
}


.updates-container {
    margin: 110px auto 80px;
    border-radius: 4px;
    // overflow: hidden;
    
    &.overlay {
        padding-bottom: 20px;
        background-color: #fff;
        border: 1px #dddddd solid;
        filter: drop-shadow(0 4px 6px rgba(0,0,0,.1));
        margin: 0;
        position: absolute;
        right: calc(50% - 28px);
        width: 420px;
        opacity: 0;
        transform: translateY(-100px) scale(.95,.95);
        top: -100vh;
        transition: transform 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        
        .arrow {
            color: #ffffff;
            font-family: Material Icons;
            font-size: 60px;
            line-height: 1;
            position: absolute;
            // content: "arrow_drop_up";
            top: -38px;
            right: 15px;
        }

        &.active {
            opacity: 1;
            top: 48px;
            transform: translateY(0) scale(1,1);
        }

        .updates-list {
            width: 100%;

            .update-item {
                background: #ffffff;
                filter: drop-shadow(0 4px 2px rgba(0,0,0,.1));
                margin-bottom: 20px;
                padding: 30px 25px;
                
                @media screen and (min-width: 960px) {
                    border-bottom: 1px solid #e5e5e5;
                    filter: none;
                    margin-bottom: 0;
                }
            }
        }

        .total  {
            @media screen and (min-width: 960px) {
                text-align: center!important;
                color: $text;
            }
            
            .no-items  {
                position: relative;
                margin-top: 20px;
            }
        }
    }
}