.appBarContainer {
    display: block;
    position: fixed;
    right: 0;
    z-index: 2;
    width: 100%;

    .appBar {
        background-color: #fff;
    }
    
    .profileMenu {
        position: absolute;
        right: 0;
    }

        @media screen and (min-width: 960px) {
            display: none;
        }

        .profileIcon {
            font-size: 1.7rem;
        }
        
}

.top-menu {
    background-color: #fff;
    filter: drop-shadow(0 4px 2px rgba(0,0,0,.1));
    display: none;
    height: 50px;
    padding-top: 24px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
    @media screen and (min-width: 960px) {
        .top-menu {
            display: block;
        }
    }

    .top-menu h1 {
        color: #288FEE;
        float: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.05em;
        margin: 0;
        margin-left: 1rem;
    }
    
    .top-menu ul.top-menu__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    }
        .top-menu ul.top-menu__menu li {
            float: left;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin: 0;
            padding: 0;
            margin-left: 61px;
        }
            .top-menu ul.top-menu__menu li a.active {
                color: #288FEE;
                border-bottom: 3px solid #288FEE;
            }

            .top-menu ul.top-menu__menu li.dashboard {
                float: right;
            }
    
    .top-menu ul.top-menu__icons {
        width: 100%;
    }
        .top-menu ul.top-menu__icons > * {
            float: left;
            list-style: none;
            margin-right: 1rem;
            text-align: center;
            position: relative;
        }

    .top-menu ul.top-menu__icons .top-menu__updates {
        cursor: pointer;
    }
        






.updates-container {
    margin: 110px auto 80px;
    border-radius: 10px;
    overflow: hidden;
}
    .updates-container.overlay {
        padding-bottom: 20px;
        background-color: #fff;
        border: 1px #dddddd solid;
        /* display: none; */
        filter: drop-shadow(0 4px 6px rgba(0,0,0,.1));
        /* height: 375px; */
        margin: 0;
        position: absolute;
        right: calc(50% - 45px);
        width: 420px;
        opacity: 0;
        transform: translateY(-100px) scale(.95,.95);
        top: -100vh;
        transition: transform 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
        .updates-container.overlay::before {
            color: #ffffff;
            font-family: Material Icons;
            font-size: 60px;
            line-height: 1;
            position: absolute;
            content: "arrow_drop_up";
            top: -30px;
            right: 15px;
        }

        .updates-container.overlay.active {
            opacity: 1;
            top: 70px;
            transform: translateY(0) scale(1,1);
        }
        
    .updates-container .update-item {
        background: #ffffff;
        filter: drop-shadow(0 4px 2px rgba(0,0,0,.1));
        margin-bottom: 20px;
        padding: 30px 25px;
    }
        
        @media screen and (min-width: 960px) {
            .updates-container.overlay .update-item {
                border-bottom: 1px solid #e5e5e5;
                filter: none;
                margin-bottom: 0;
            }

            .updates-container.overlay .update-item:last-child {
                border-bottom: none;
            }
        }

    .updates-container .total .no-items  {
        position: relative;
        margin-top: 20px;
    }