@import 'styles/_colors';

.root {
    // width: 100%;
    box-shadow: 0 2px .2rem #0000001a;
    border-radius: .5rem!important;
    
    button {
        transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        &:hover {
            transform: scale(1.05)
        }
    }
}



.updateRoot {
    min-width: 275;
    margin-top: 2rem;
    border-radius: .5rem;
    // box-shadow: 0 0 .7rem rgba(0, 0, 0, .15);
    background-color: #fff;
    padding: .5rem .7rem 0 .7rem;
}

.updateTitle {
    font-size: 1.2rem!important;
    color: $secondary!important;
    font-weight: 500!important;
}

.updateDescription {
    font-size: 1rem;
    margin-bottom: .8rem!important;
    font-weight: 300!important;
}



.header {
    height: 3rem;
    color: $secondary!important;
    padding: 1rem 1rem!important;
    // padding-right: 1rem;

    span {
        line-height: 1.2;
        font-weight: 500!important;
        font-size: 1.1rem!important;
        
    }

}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}



.content {
    height: 3.8rem;
    overflow: hidden;

  
    strong {
        font-weight: 300!important;
        color: #606060!important;
    }
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
        font-size: 0;
    }
    p {
        margin: 0;
        font-size: .95rem!important;
        font-weight: 300!important;
        line-height: 1.6!important;
        color: #606060!important;
    }
}

div.mediaArea {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    
    :last-child {
        position: absolute;
        top: 0; left: 0;
        width: 100%; 
        height: 100%;
        border:0;
    }
}


.viewContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    padding: 5.5rem 0 2.5rem;
    width: 100%;
    overflow: auto;
    

    @media screen and (min-width:961px) {
        padding: 8rem 0 2.5rem;
    }

    &.admin {
        padding: 3rem 0 2.5rem;
        height: 80%;
        overflow: hidden;
    }
    
    .awarenessContent {
        display: flex;
        height: 90%;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0 .5rem;


        &.admin {
            overflow: auto;
        }
    }
}

        
.containerModal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: block;
    display: flex;
    justify-content: center;
    overflow: auto;
    background: none;
    background: radial-gradient(ellipse at center, rgba(255, 254, 244, 1) 0%, rgba(255, 254, 244, 1) 45%, #B7E8EB 130%);

    .contentModal {
        background-color: #fff;
        box-shadow: 0 0 1rem rgb(0,0,0,.1);

        .text {
            padding: 1rem;
            flex-grow: 1;
            h1,h2,h3,h4,h5,h5 {
                margin: 0 0 .5rem 0;
                color: $secondary!important;
            }

            strong {
                font-weight: 400;
            }

            p {
                line-height: 1.5;
                font-size: 1.1rem;
            }
        }
    }

    .backButton {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        border-radius: 50%;
        background-color: $primary!important;
        color: #fff;
        // box-shadow: 2px 2px 5px rgba(0,0,0,.4);
        
        :first-child {
            font-size: 2rem;
            font-weight: 600;
        }

        @media screen and (min-width:961px) {
            right: initial;
            bottom: initial;
            left: 1.5rem;
            top: 1.5rem;
        }
    }
}
