@import 'styles/_colors';

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    
    .content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;

        .title {
            margin: 1.5rem 0 0;
            text-align: center;

            &.admin {
                flex-grow: 1;
            }

            &.profile {
                margin: 2.5rem 0 0;
            }

            @media screen and (min-width:769px) {
                margin: 5rem 0 0;

                &.admin {
                    margin: 2rem 0 1rem;
                    text-align: center;
                }

                &.profile {
                    margin: 7.5rem 0 0;
                }
            }

            h2 {
                margin-bottom: 1.5rem;
            }
        }

        .subtitle {
            text-align: center;
            margin: .5rem 0;
        }
        
        form {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            @media screen and (min-width:769px) {
                margin-bottom: 6rem;
            }

            ul {
                flex-grow: 1;
                display: flex;
                padding-top: 0.5rem;

                li {
                    flex-grow: 1;
                    display: none;
                    flex-direction: column;
                    justify-content: flex-start;

                    @media screen and (min-width:769px) {
                        justify-content: center;
                    }

                    ul.confirmation {
                        display: block;

                        li {
                            display: block;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

form {
    &.signInForm {
        padding-top: 2rem;
    }
    
    &.profileForm {
        padding: .5rem 0 7rem;
        
        @media screen and (min-width:769px) {
            flex-wrap: wrap;
            width: 100%;
            height: 35rem;
        }
    }
    
    &.adminForm {
        margin: 0;
        padding-top: 2rem;

            @media screen and (min-width:769px) {
                padding: 0 0rem 1.5rem;
                margin-bottom: 0!important;
            }
    }

    .adminContent {
        .formInput {
            margin: 0!important;  
        }
    }
    
    
    &.landingForm {
        width: 70%;
        margin: 0 auto!important;  
        
        .actions {
            
            p {
                margin: 2rem 0 .25rem;
                color: #222222;
            }

            a {
                color: #222222;
            }
            
            .link {
                margin: 1rem 0 0;
                color: #222222;
            }

        }
    }

    .formInput {
        width: 100%;
        min-height: 3.5rem;
        margin: 0 auto 1.5rem;  
        
        &.col2 {
            margin-left: 0;
            margin-right: .4rem;
            width: calc(50% - .4rem);
            float: left;

            ~ .col2 {
                margin-left: .4rem;
                margin-right: 0;
                width: calc(50% - .4rem);
            }
        }
        
        &.col3 {
            margin-left: 0;
            margin-right: .4rem;
            width: calc(33.33333% - .4rem);
            float: left;

            ~ .col3 {
                margin-left: .2rem;
                margin-right: .2rem;
                width: calc(33.33333% - .4rem);
            }

            &.last {
                margin-left: .4rem;
                margin-right: 0;
                width: calc(33.33333% - .4rem);
            }
        }

    }

    .buttons {
        text-align: center;
        height: 2.5rem;

        &.admin {
            text-align: left;
        }

        &.profile {
            margin-top: 1rem;
        }

        @media screen and (min-width:769px) {
            &.admin {
                margin-top: 1.5rem;
            }
        }

        .actions {
            p {
                margin-top: 3rem;
            }
        }
    }


    .contentBox {
        margin-top: 2rem;
        padding: 1.6rem 1.4rem 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width:769px) {
            width: calc(48% - 1.6rem * 2);
        }

        .border {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }

        h4 {
            font-weight: normal;
            font-size: .8rem;
            text-align: left;
            position: absolute;
            top: -26px;
            left: 12px;
        }

        &.userBox {
            padding-top: 2.2rem;
            flex-grow: 1;
            margin-right: 2%;
        }
        
        &.subscriptionBox {
            margin-top: 2rem;
            flex-grow: 1;
            margin-left: 2%;
            text-align: center;
        }

        &.deleteBox {
            border-color: rgba(165, 42, 42, .5);
            margin-top: 2rem;
            padding-top: 2rem;
            flex-grow: 1;
            margin-left: 2%;

            Button {
                width: 100%;
                max-width: 16rem;
                margin: 0 auto;
            }
        }
    }

}


