.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dataGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

    
.content {
    height: 90%;
}

.form {
    flex-grow: 1;
    margin: 0;
}

.menuList {
    width: 250px
}

.menuItem__nested {
    padding-left: 1rem
}


.textfield {
    padding: 0;
}