.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dataGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 0 2rem;
    flex-grow: 1;
    padding: 0 2rem 1.5rem;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    flex-grow: 1;
    overflow: auto;
    padding: 0 2rem 1.5rem;
}

    
.content {
    height: 90%;
}

.form {
    flex-grow: 1;
    margin: 0;
}

.menuList {
    width: 250px
}

.menuItem__nested {
    padding-left: 1rem
}


.textfield {
    padding: 0;
}

.input {
    width: 100%;
    margin: .6rem 0 0!important;    
}

.id {
    margin: 0;
}

.buttons {
    margin-top: 1rem;
}