.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dataGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 0 2rem;
    flex-grow: 1;
    padding: 0 2rem 1.5rem;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    flex-grow: 1;
    overflow: auto;
    padding: 0 2rem 1.5rem;
}
    
.content {
    height: 90%;
}

.menuList {
    width: 250px
}

.menuItem__nested {
    padding-left: 1rem
}

.idLabel {
    margin: 0;
}
