@import 'styles/_colors';

// set basic styling
body {
    margin: 0;
    background-color: rgba(255, 254, 244, 1) 45%;
    color: #606060;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(ellipse at center, rgba(255, 254, 244, 1) 0%, rgba(255, 254, 244, 1) 45%, #B7E8EB 130%);
}
  
a {
  color: #606060;
  display: block;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

ul, 
li {
  list-style: none;
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
  color: $text;
}

.active > * {
  color: #c82a29;
}


form {
  width: 100%;
  margin: 2.5rem auto;

  @media screen and (min-width: 1024px) {
    margin: 5rem auto;
  }

  .MuiFormControl-root {
  //   width: 100%;
    margin: .6rem 0;
  
  //   .MuiTextField-root {
  //     width: 100%;
  //   }

  //   .MuiInputBase-root {
  //       background-color: #fff;
  //   }    
  
    button {
        width: 10rem;
        margin: 2rem auto 0;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
    }
  }
}


//colors

.alertColor {
  color: $alert!important;
}

.primaryColor {
  color: $primary!important;
}

.greenButton {
  background-color: $green!important;
  color: #fff!important;
}

.primaryButton {
  color: #fff!important;
  background-color: $primary!important;
}





//helpers
.center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

@media screen and (max-width:679px) {
  .full-height-mobile {
    height: 100vh;
  } 
}

.no-margin {
  margin: 0;
}

.hidden {
  display: none!important;
}

.show {
  display: block!important;
}

.active-flex {
  display: flex!important;
}

.alignRight {
  text-align: right;
}

.expandWidth {
  width: 100%;
}

.absolute {
  position: absolute!important;
}

.mt10 {
  margin-top: 1rem!important;
}